@model SSD_Migrated.Models.MessageModels.ThreadViewModel

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div>
        <h2>@ViewData["Title"]</h2>
        <hr />
        <h3>@ViewData["Message"]</h3>
    </div>
    <hr />
    <div class="form-group">
        <label>Reply to thread</label>
        <form asp-action="Reply" asp-controller="Message" method="post">
            <textarea asp-for="@Model.MessageObj.content" cols="40" rows="5" name="Reply"></textarea>
            <input type="hidden" asp-for="@Model.MessageObj.title" value="" name="title" />
        </form>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Submit reply</button>        
    </div>
</body>